* {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

#root {
  width: auto;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

article {
  margin: 0.5vh 0vw 1vh 0vw;
}

#promo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  padding: 0px;
}

.promo {
  max-width: auto;
  align-items: stretch;
  margin: 2vh 2vw 2vh 2vw;
}

.promo > img {
  padding: 1vh 5vw 1vh 5vw;
  margin: 1vh 0vw 1vh 0vw;
  max-width: 90%;
}

#card-container {
  align-self: center;
}

li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}


ul {
  padding: 0 0 0 0;
}

.article ul {
  padding: 0 0 0 0; 
}

.article form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.article a {
  color: white;
}

.article label {
  grid-area: 1 / 1 / 2 / 4; 
}

.article input {
  grid-area: 2 / 1 / 3 / 3;
  width: auto;
  border-radius: 40px;
  padding-left: 5vw;
  height: 3rem;
  align-self: center;
}

.article button {
  width: auto;
  grid-area: 2 / 3 / 3 / 4; 
  align-self: center;
}

.article-topic-container p {
  padding: 0;
  margin: 0;
}

#comments-list {
  padding: 0;
}

.comment-container {
  margin: 2vh 2vw 2vh 2vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.avatar {
  grid-area: 1 / 1 / 2 / 2; 
  margin-right: 2vw;
}

.comment-body {
  grid-area: 1 / 2 / 3 / 5; 
  background-color: #ebf1f5;
  border-radius: 15px;
  padding: 0.75vh 2.5vw 0.25vh 2.5vw;
}

.comment-username {
  grid-area: 1 / 2 / 2 / 5; 
  font-weight: bolder;
}

.comment {
  grid-area: 2 / 2 / 3 / 5;
}

.comment-votes {
  grid-area: 3 / 2 / 4 / 3; 
  align-self: start;
}

.article .comment-delete-button {
  border: none;
  color: red;
  background-color: rgb(0, 0, 0, 0);
  font-weight: bold;
  grid-area: 3 / 4 / 4 / 5;
  align-self: start;
}

.article-image {
  max-width: 90vw;
  margin: 1vh 0vw 1vh 0vw;

}

.votesHeart {
  height: 5vh;
  margin: 1vh 1vw 1vh 1vw
}

.postCommentButton {
  width: 100%;
  background-color: #7D87C2;
  color: white;
  padding: 1vh 1vw 1vh 1vw;
  margin: 1vh 2vw 1vh 2vw;
  font-weight: bold;
  border-radius: 40px;
}

.invalidInput {
  border: 1px solid red;
}


.topic-card {
  border: 1px solid black;
  border-radius: 40px;
  max-width: 40vw;
  padding: 1vh 1vw 1vh 1vw;
  margin: 1vh 1vw 1vh 1vw;
  background-color: #7DC2B9;
  color: white;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#navbar-brand {
  font-weight: bold;
}

.article {
  padding: 2vh 5vw 2vh 5vw;
}

#article-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  padding: 0.5vh 0vw 1.5vh 0vw;
}

#article-topic-card {
  grid-area: 1 / 1 / 2 / 2; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-header {
  padding-bottom: 1vh;
}

.like-button-container {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

#like-button-votes {
  margin: 0;
}

#topics-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#topics-list ul li {
  width: 75vw;
}

#topics-list ul li .topic-card {
  margin: 5vh auto 0vh auto;
}

#topics-list ul li .topic-card a {
  color: white;
}


/* #list-header-container {
  border: 1px solid black;
}

#list-filter {
  display: block;
  border: 1px solid hotpink;
}

#list-header {
  display: flex;
  justify-content: space-between;
}

.list-header {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
} */

@media only screen and (min-width: 768px) {
  .article {
    padding: 2vh 20vw 5vh 5vw;
  }
}