* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#root {
  width: auto;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

#promo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
}

.promo {
  max-width: auto;
  align-items: stretch;
  margin: 2vh 2vw 2vh 2vw;
}

.promo > img {
  padding: 1vh 5vw 1vh 5vw;
  margin: 1vh 0vw 1vh 0vw;
  max-width: 90%;
}

#card-container {
  align-self: center;
}

li {
  list-style-type: none;
}

.comment {
  margin: 2vh 2vw 2vh 2vw;
  border-top: 1px solid #7D87C2;
}

#articleHeroImage {
  max-width: 90vw;
}

.votesHeart {
  height: 5vh;
  margin: 1vh 1vw 1vh 1vw
}

.postCommentButton {
  width: 100%;
  background-color: #7D87C2;
  color: white;
  padding: 1vh 1vw 1vh 1vw;
  margin: 1vh 1vw 1vh 1vw;
  font-weight: bold;
}

.invalidInput {
  border: 1px solid red;
}

.delete-button {
  background-color: #C2967D;
  padding: 1vh 1vw 1vh 1vw;
  color: white;
  font-weight: bold;
}

.topic-card {
  border: 1px solid black;
  max-width: 40vw;
  padding: 1vh 1vw 1vh 1vw;
  margin: 1vh 1vw 1vh 1vw;
  background-color: #7DC2B9;
  color: white;
  font-weight: bold;
}

#navbar-brand {
  font-weight: bold;
}

.article {
  padding: 2vh 2vw 2vh 5vw;
}

/* #list-header-container {
  border: 1px solid black;
}

#list-filter {
  display: block;
  border: 1px solid hotpink;
}

#list-header {
  display: flex;
  justify-content: space-between;
}

.list-header {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
} */

@media only screen and (min-width: 768px) {
  .article {
    padding: 2vh 20vw 5vh 5vw;
  }
}